@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,700;0,800;0,900;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;800;900&display=swap');
/* ================================= */
/* BASIC COMPONENTS */
/* ================================= */

body{
    font-family: 'Nunito', sans-serif;
}

/* loading */
#loading{
    position: fixed;
    height: 100vh;
    width: 100%;
    background: #fff;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.loading-dots > div{
    height: 15px;
    width: 15px;
    background-color: #d83434;
    border-radius: 50%;
    display: inline-block;
    animation: 1.5s bounce infinite ease-in-out both;
}
.loading-dots .bounce1{
    animation-delay: 0.30s;
}
.loading-dots .bounce2{
    animation-delay: 0.15s;
}
@keyframes bounce {
    0%,80%,100%{
        transform: scale(0);
    }
    40%{
        transform: scale(1);
    }
}
/* ================================= */
/* RESUABLE COMPONENTS */
/* ================================= */
.title{
    font-weight: 700;
    font-size: 35px; 
    color: #35404e;
    font-family: 'Poppins', sans-serif;
}
.title-small{
    font-weight: 700;
    font-size: 17px; 
    color: #35404e;
    font-family: 'Poppins', sans-serif;
}
.text-pera{
    font-size: 14px;
    font-weight: 400;
    color: #515c6a;
    line-height: 1.7em;
}
.main-btn{
    background-color: #d83434;
    color: #fff;
    font-size: 14px;
    border: none;
    padding: 10px 27px;
    border-radius: 10px;
    font-weight: 600;
}
.bg-maker{
    background: #f6f7fb;
    padding: 60px 0;
}
/* ================================= */
/* HEADER SECTION */
/* ================================= */
.sticky{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #fff;
    z-index: 9999;
    transition: 1s;
}
.sticky .logo{
    color: #35404e;
}
.sticky .text-white{
    color: #000 !important;
}
.header-section .logo{
    font-weight: 900;
    font-size: 25px;
}
.header-section .nav-item .nav-link{
    font-size: 14.5px;
    padding-left: 15px;
    padding-right: 15px;
}
.icon a{
    background: #d83434;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-decoration: none;
    transition: 0.8s;
}
.icon a:hover{
    background: #fff;
    color: #d83434;
}
/* ================================= */
/* BANNER SECTION */
/* ================================= */
.banner-section{
    background: url(../img/header-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    z-index: -1;
    top: -71px;
}
/* .banner-section .banner{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} */
.banner-content{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner-section h6{
    color: #d83434;
    font-weight: 800;
    font-size: 20px;
}

.banner-section h1{
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    font-size: 62px;
}


/* ================================= */
/* ABOUT SECTION */
/* ================================= */
.about-section .img-one{
    max-width: 95%;
}
.about-section .about-left-part{
    position: relative;
}
.about-section .img-two {
    position: absolute;
    max-width: 35%;
    bottom: -32px;
    right: 0px;
}
.about-section h1 {
   font-weight: 700;
   font-size: 35px; 
   color: #35404e;
   font-family: 'Poppins', sans-serif;
    margin-bottom: 10px;
}
.about-section button:focus{
    box-shadow: none;
}
.skills{
    display: none;
}
.skills h6{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: #35404e;
    font-size: 14px;
}
.skills .progress{
    height: 6px;
}
/* ================================= */
/* SERVICES SECTION */
/* ================================= */

.services-section .icons{
    color: #d83434;
    font-size: 25px;
    border: 1px solid red;
    border-radius: 50%;
    height: 70px;
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;

}

/* ================================= */
/* FREELANCER SECTION */
/* ================================= */
.freelancer-section{
    height: 250px;
    background: url(../img/header-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.freelancer-section h1{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 36px;
    color: #fff;
}

/* ================================= */
/* TESTIMONIAL SECTION */
/* ================================= */
.testimonial{
    border-bottom-left-radius: 50% 20%;
    border-bottom-right-radius: 50% 20%;
}
.testimonial .img-slider{
    height: 100px;
    width: 100px !important;
    margin: 30px auto;
}
.testimonial .fas{
    color: #d83434;
    font-size: 25px;
}
.testimonial .quote-text{
    max-width: 60%;
    font-size: 16px;
    line-height: 1.7;
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: #d83434;
}
.owl-theme .owl-dots .owl-dot span{
    width: 8px;
    height: 8px;
    border-radius: 50%;
}
/* ================================= */
/* PORTFOLIO SECTION */
/* ================================= */
.portfolio h6{
    color: #d83434;
    font-weight: 900;
}
.portfolio button{
    border: none;
    background: none;
    font-size: 12px;
    padding: 4px 15px;
    color: #888;
    margin: 0 5px;
}
.portfolio button:hover{
    color: #1d1d1d;
}
.portfolio .mixitup-control-active{
    background: #d83434;
    color: #fff;
    border-radius: 10px;
}
.portfolio .mixitup-control-active:hover{
    color: #fff;
}
.portfolio .img-overlay{
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #d83434bf;
    height: 243px;
    width: 366px;
    font-weight: 900;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s;
}
.portfolio .img-overlay:hover{
    opacity: 1;
}
/* ================================= */
/* Blog SECTION */
/* ================================= */

.blog h6{
    font-family: 'Poppins';
    font-weight: 700;
    margin-top: 17px;
    font-size: 17px;
}
.blog .card-bottom{
    max-width: 85%;
    margin: auto;
}
.blog .img-inner{
    bottom: 0;
    background: #d83434;
    color: #fff;
    font-size: 14px;
    left: 10%;
    padding: 5px;
    border-radius: 10px 10px 0px 0px;
    width: 80%;

}
/* ================================= */
/* CONTACT SECTION */
/* ================================= */
.contact .form-control:focus{
    border-color: #d83434;
    box-shadow: none;
}
textarea{
    height: 145px;
}
.contact-icon{
    color: #d83434;
    font-size: 30px;
}
.contact h6{
    color: #d83434;
    font-weight: 900;
    font-size: 15px;
    margin: 15px 0;
}
/* ================================= */
/* FOOTER SECTION */
/* ================================= */
footer{
    background:#35404e;
    padding: 40px 0;
}
.go-top{
    position: fixed;
    bottom: 40px;
    right: 17px;
    color: #fff;
    border: none;
    background: #d83434;
    height: 33px;
    width: 30px;
    border-radius: 5px;
    font-size: 15px;
    display: none;
}

/* Responsive */
@media (max-width: 991px) {
    .sticky{
        display: none;
    } 
    .banner-section{
        top: 0;
    }
    .header-section .icon{
        position: absolute;
        right: 58px;
        top: 8px;
    }
    .header-section button:focus{
        box-shadow: none;
        border: none;
        font-size: 17px;
        color: #000;
    }
    .header-section button span{
        color: #000;
        font-weight: 700;
        font-size: 22px;
    }
    .navbar-nav{
        margin-top: 35px;
    }
    .navbar-nav .nav-item a{
        color: #888 !important;
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .navbar-nav .nav-item{
        border-bottom: 1px solid lightgray;
        color: #888 !important;
        width: 98%;
    }
    .navbar-nav li:last-child{
        border-bottom: none;
    }
    .header-section .logo{
        color: #35404e;
    }  
}
@media (max-width: 480px) {   
    .header-section .icon{
        display: none !important;
    }
}